<div>
    <div>
        <h2>Publication List</h2>
        <div>Showing <%=start-20%> to <%= start%> of <%=total%></div>
        <div style="float:left; margin-right: 20px"><a href="/publications/list?start=0">Home</a></div>
        <%if(previous>=0){%>
        <div style="float:left; margin-right: 20px"><a href="/publications/list?start=<%=previous%>&filter=<%=JSON.stringify(filter)%>">Previous</a></div>
        <%}%>
        <div style="float:left"><a href="/publications/list?start=<%=start%>&filter=<%=JSON.stringify(filter)%>">Next</a></div>
    </div>
    <br>
        <div>
            <div style="float:left; margin-right: 20px"><a href="/publications/create">Create New</a></div>
        </div>
    <br>
    <div>
        <div class="filters">
            Filter:
            <select id="filter_white_list_status" name="white_list_status">
                <option value=-1>None</option>
            <% for(var statusName in schemas.PublicationWhiteListStatus){
                var selected=""
                if(filter['white_list_status']==schemas.PublicationWhiteListStatus[statusName])
                    selected="selected"
                %>
                <option <%=selected%> value="<%=schemas.PublicationWhiteListStatus[statusName]%>"><%=statusName%></option>
            <%}%>
            </select>
            <!--<input id="filter_name" name="filter_name">
            <button id="filter_update">Search</button>-->
        </div>


        <ul style="list-style: none" class="result_list">
            <li style="height: 10px; padding-right: 0px">
                <div style="float: right; border-width: 1px; border-style: solid; width: 60px; background: #d3d3d3; text-align: center;" class="edit_lnk">EDIT ALL</div>
                <div style="float: right; border-width: 1px; border-style: solid; width: 60px; background: #d3d3d3; text-align: center; display:none;" class="editable save_lnk">SAVE ALL</div>
            </li>
            <% for(var i=0;i<publications.length;i++){%>
            <li style="margin-bottom: 5px"  id="pub_<%=publications[i]._id%>" class="pub_entry">
                <div>
                    <div style="float:right;">
                    <a href="/publications/show/<%=publications[i]._id%>" class="ro_field">Details</a>
    <a href="" class="del_lnk" id="delete_pub_<%=publications[i]._id%>">DELETE</a>

                    </div>
                    <h3>
                        <div class="ro_field"><%=publications[i].host_name%></div>
                        <div class="editable"><input class="host_name" name="host_name" value="<%=publications[i].host_name%>"></div>
                    </h3>
                    <h3>
                        <div class="ro_field"><%=publications[i].pub_name%></div>
                        <div class="editable"><input class="pub_name" name="pub_name" value="<%=publications[i].pub_name%>"></div>
                    </h3>
                    <div class="white_list_checkboxes">
                        <div class="ro_field">
                            <% for(var statusName in schemas.PublicationWhiteListStatus){
                                if(schemas.PublicationWhiteListStatus[statusName]==publications[i].white_list_status){%>
                                   <h3> <%=statusName%></h3>
                                <%}%>
                            <%}%>
                        </div>
                    <div class="editable">
                    <% for(var statusName in schemas.PublicationWhiteListStatus){
                                    var selected=""
                        if(schemas.PublicationWhiteListStatus[statusName]==publications[i].white_list_status)
                                        selected="checked=\"checked\""
                                    %>
                       <input class="white_list_status_checkbox" type="radio" <%-selected%> name="<%=publications[i]._id%>_white_list_status" value="<%=schemas.PublicationWhiteListStatus[statusName]%>" /> <%=statusName%>

                                <%}%>
                    </div>
                </div>
                    <div id="<%=publications[i]._id%>_update_result"></div>
                </div>
            </li>
            <%}%>
            <div style="float: right; border-width: 1px; border-style: solid; width: 60px; background: #d3d3d3; text-align: center;" class="edit_lnk">EDIT ALL</div>
            <div style="float: right; border-width: 1px; border-style: solid; width: 60px; background: #d3d3d3; text-align: center; display:none;" class="editable save_lnk">SAVE ALL</div>

        </ul>
    </div>
    <div style="margin-bottom: 20px;">
        <div>Showing <%=start-20%> to <%= start%> of <%=total%></div>
        <div style="float:left; margin-right: 20px"><a href="/publications/list?start=0">Home</a></div>
        <%if(previous>=0){%>
        <div style="float:left; margin-right: 20px"><a href="/publications/list?start=<%=previous%>&filter=<%=JSON.stringify(filter)%>">Previous</a></div>
        <%}%>
        <div style="float:left"><a href="/publications/list?start=<%=start%>&filter=<%=JSON.stringify(filter)%>">Next</a></div>
    </div>
</div>
        <Br><br>
        <script>
            $('#filter_white_list_status').change(function() {
                $("#filter_white_list_status option:selected").each(function () {
                    var filter = {}
                    filter[this.parentNode.name]=parseInt(this.value)
                    if(this.value==-1)
                        window.location="/publications/list?start=0"
                    else
                        window.location="/publications/list?start=0&filter="+JSON.stringify(filter)
                });

            });

            $('.white_list_status_checkbox').click(function(ev){
                var white_list_status=$("[name='"+this.name+"']:checked").val()
                var publicationId = this.name.replace('_white_list_status','')
                var data =  {
                    _id:publicationId,
                    white_list_status:white_list_status
                }

                $.ajax({
                  type: 'POST',
                  url: '/publications/save?ajax=true',
                  data: data,
                  success: function(){
                    $('#'+publicationId+'_update_result').html('Updated.')
                  },
                  dataType: JSON
                });
            })


                    $('.edit_lnk').click(function(ev){
                        $('.editable').show();
                        $('.edit_lnk').hide();
                        $('.ro_field').hide();
                        ev.preventDefault()
                    })

                    $('.save_lnk').click(function(ev){
                        $('.pub_entry').each(function(index, pub_entry){
                            var publicationId = pub_entry.id.replace("pub_","")
                            var white_list_status=$(pub_entry).find(".white_list_status_checkbox:checked").val()
                            var pub_name = $(pub_entry).find('.pub_name').val()
                            var host_name =$(pub_entry).find('.host_name').val()
                            if(white_list_status=='undefined')
                                white_list_status=1
                            var data = {
                                _id:publicationId,
                                white_list_status:white_list_status,
                                host_name:host_name,
                                pub_name:pub_name
                            }
                            $.ajax({
                                type:'POST',
                                url:'/publications/save?ajax=true',
                                data:data,
                                success:function () {
                                    $('#' + publicationId + '_update_result').html('Updated.')
                                },
                                dataType:JSON
                            });
                        })
                        $('.editable').hide();
                        $('.edit_lnk').show();
                        $('.ro_field').show();
                        //location.reload();
                        ev.preventDefault()
                    })

            $('.del_lnk').click(function (ev) {

                var id = this.id.replace('delete_pub_', '')
                    var delUrl='/publications/delete/' + id + '?ajax=true'

                $.get(delUrl, function (data) {
                    location.reload()
                })
                ev.preventDefault()
            })
            /*

            $('#filter_update').click(function(){
                var filter = {}
                var filterFound=false
                filter['filter_name'] = $('#filter_name').val()
                $("#filter_white_list_status option:selected").each(function () {
                    filter[this.parentNode.name]=parseInt(this.value)
                    filterFound=true
                });
                if(!filterFound)
                    window.location="/publications/list?start=0"
                else
                    window.location="/publications/list?start=0&filter="+JSON.stringify(filter)

            })
*/

        </script>