<div>
    <div>
        <h2>Publication List</h2>
        <div style="float:left; margin-right: 20px"><a href="/publications/list?start=0">Home</a></div>
        <%if(previous>=0){%>
        <div style="float:left; margin-right: 20px"><a href="/publications/list?start=<%=previous%>">Previous</a></div>
        <%}%>
        <div style="float:left"><a href="/publications/list?start=<%=start%>">Next</a></div>
    </div>
    <br>
        <div>
            <div style="float:left; margin-right: 20px"><a href="/publications/create">Create New</a></div>
        </div>
    <br>
    <div>
        <ul style="list-style: none">
            <% for(var i=0;i<publications.length;i++){%>
            <li style="margin-bottom: 5px">
                <div>
                    <a href="/publications/show/<%=publications[i]._id%>"><%=publications[i].pub_name%></a>
                    <a href="/publications/edit/<%=publications[i]._id%>">Edit</a>
                    <br>
                    <%=publications[i].host_name%><br>
                    <% if(typeof publications[i].whist_list_status != 'undefined'){%>

                    <% for(var statusName in schemas.PublicationWhiteListStatus){
                                        if(schemas.PublicationWhiteListStatus[statusName]==publications[i].whist_list_status){%>
                                            <%=statusName%><br>
                                        <%}
                                        }
                                    %>

                    <%}%>

                </div>
            </li>
            <%}%>
        </ul>
    </div>
</div>