<div>
    <div>
        <h2><%-publication.pub_name||''%></h2>
        <div style="float:left; margin-right: 20px"><a href="/publications/list?start=0">Home</a></div>
        <div style="float:left; margin-right: 20px"><a href="/publications/create">Create New</a></div>
        <div style="float:left; margin-right: 20px"><a href="/publications/edit/<%=publication._id%>">Edit</a></div>
    </div>
    <br>

    <div>
        <ul style="list-style: none" class="show_list">
            <li style="margin-bottom: 5px">
                <label>Publication Name</label> <%-publication._doc['pub_name']||'<i>not set</i>'%>
            </li>
            <li style="margin-bottom: 5px">
                            <label>Host</label> <%-publication._doc['host_name']||'<i>not set</i>'%>
            </li>
            <li style="margin-bottom: 5px">
                                        <label>Description</label> <%-publication._doc['description']||'<i>not set</i>'%>
                        </li>

            <li style="margin-bottom: 5px">
                <label>White List Status</label>
                <% for(var statusName in schemas.PublicationWhiteListStatus){
                    if(schemas.PublicationWhiteListStatus[statusName]==publication.white_list_status){%>
                        <%=statusName%>
                    <%}
                    }
                %>

            </li>
            <li>
                <label>Tweeters</label>
                <% if(tweeters){%>
                
                 <%for(var t=0;t<tweeters.length;t++){%>
                   <a href="/tweeters/show/<%=tweeters[t]._id%>"><%=tweeters[t].name%></a>
                 <%}%>
                 
                    <%}%>

            </li>

        </ul>
    </div>
</div>