<div>
    <div>
        <h2>Tweeter List</h2>
        <%if(previous>=0){%>
        <div style="float:left; margin-right: 20px"><a href="/tweeters/list?start=<%=previous%>">Previous</a></div>
        <%}%>
        <div style="float:left"><a href="/tweeters/list?start=<%=start%>">Next</a></div>
    </div>
    <br>
    <div>
        <div style="float:left; margin-right: 20px"><a href="/tweeters/create">New</a></div>
    </div>
    <br>
    <div>
        <ul style="list-style: none">
            <% for(var i=0;i<tweeters.length;i++){%>
            <li style="margin-bottom: 5px">
                <div>
                    <a href="/tweeters/show/<%=tweeters[i]._id%>"><%=tweeters[i].name%></a>
                    <a href="/tweeters/edit/<%=tweeters[i]._id%>">Edit</a>
                    <br>
                    <%=tweeters[i].screen_name%><br>
                    <%=tweeters[i].description%><br>
                </div>
            </li>
            <%}%>
        </ul>
    </div>
</div>