<div>
    <div>
        <h2>Article List  (<%=total%>)</h2>
        <%if(previous>=0){%>
        <div style="float:left; margin-right: 20px"><a href="/articles/list?start=<%=previous%>">Previous</a></div>
        <%}%>
        <div style="float:left"><a href="/articles/list?start=<%=start%>">Next</a></div>
    </div>
    <br>
    <div>
        <div style="float:left; margin-right: 20px"><a href="/articles/create">New</a></div>
    </div>
    <br>
    <div>
        <ul style="list-style: none">
            <% for(var i=0;i<articles.length;i++){%>
            <% if(articles[i].title){%>
            <% if(articles[i].title.length>0){%>
            <li style="margin-bottom: 10px">
                <div style="background-color: #d3d3d3;padding: 5px; border:2px solid;
                border-radius:25px;
                -moz-border-radius:25px; /* Firefox 3.6 and earlier */ ">
                        <h3 style="margin-bottom: 0px; margin-top: 0px;"><a href="<%=articles[i].url%>" target="_blank"><%=articles[i].title%></a><br></h3>
                        <% if(articles[i].referencing_tweet_ids){%>
                            <div style="padding-left: 5px; padding-bottom: 5px;">Referenced in <%=articles[i].referencing_tweet_ids.length%> tweets.</div>
                        <%}%>
                </div>
            </li>
            <%}%>
            <%}%>
            <%}%>
        </ul>
    </div>
</div>