<form id="expertise_form" class="expertise_form">
<ul  class="form_list" style="display: inline-block;">

             <li><label>Name</label><input class="required" name="name" id="expertise_name" value="<%=expertise.name||''%>"/></li>
             <li>
                 <label>Tweeters</label>
                 <div id="sortable1" class="connectedSortable availableTweeters sortable" style="height:400px; width:300px; border: 1px; border-style: solid;overflow: auto;">
                     <div style="width: 100%; height:25px; font-weight: bold; background: #d3d3d3;margin-left: 0px;">
                         Available Tweeters
                         <div style="float:right;"><a id="select_all_available_tweeters" href="#">Select All</a></div>
                     </div>
                    <%for(var a=0;a<availableTweeters.length;a++){%>
                        <%
                            var displayName=false;
                            if(availableTweeters[a].name){
                                if(availableTweeters[a].name.trim().length>0){
                                    displayName=availableTweeters[a].name
                                }
                            }
                            if(!displayName){
                                if(availableTweeters[a].screen_name){
                                    if(availableTweeters[a].screen_name.trim().length>0){
                                        displayName=availableTweeters[a].screen_name
                                    }
                                }
                            }
                            if(!displayName){
                                displayName='UNKOWN SHOULD DELETE';
                            }
                        %>
                 	    <div class="ui-state-default available_tweeter" id="tweeter_<%=availableTweeters[a]._id%>"><%=displayName%></div>
                    <%}%>
                </div>
                 <div id="sortable2" class="connectedSortable selectedTweeters sortable" style="height:400px; width:300px; border: 1px; border-style: solid;overflow: auto">
                     <div style="width: 80%; height:25px; font-weight: bold; background: #d3d3d3;width: 100%;margin-left: 0px;"><%=expertise.name||''%> Tweeters (<%=expertiseTweeters.length%>)
                         <div style="float:right;"><a id="select_all_selected_tweeters" href="#">Select All</a></div>
                     </div>
                     <%for(var e=0;e<expertiseTweeters.length;e++){%>
                     <%
                         var displayName=false;
                         if(expertiseTweeters[e].name){
                             if(expertiseTweeters[e].name.trim().length>0){
                                 displayName=expertiseTweeters[e].name
                             }
                         }
                         if(!displayName){
                             if(expertiseTweeters[e].screen_name){
                                 if(expertiseTweeters[e].screen_name.trim().length>0){
                                     displayName=expertiseTweeters[e].screen_name
                                 }
                             }
                         }
                         if(!displayName){
                             displayName='UNKOWN SHOULD DELETE';
                         }
                     %>
                  	    <div class="ui-state-default selected_tweeter" id="tweeter_<%=expertiseTweeters[e]._id%>"><%=displayName%></div>
                     <%}%>

                               </div>

             </li>
            <li><div class="expertise_id" id="expertise_id_<%=expertise._id%>"></div></li>
    <li style="padding-top:10px;"><br>
                <label>Add Expertise</label>
                <input name="child_expertise_name" id="child_expertise_name"/>
                <button class="add_child_expertise_button" id="add_child_expertise_<%=expertise._id%>">Add Child Expertise</button>

        </li>
    <li style="padding-left: 400px; border-top: 1px solid;">
        <button id="update_expertise">Save</button>
        <button id="delete_expertise">Delete</button>
    </li>

    </ul>
</form>



<script>/*
$(function() {
	$( "#sortable1, #sortable2" ).sortable({
		connectWith: ".connectedSortable"
	}).disableSelection();
});*/
</script>